* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}